.container{
    width: 100%;

    > form {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .buttonsArea{
        display: flex;
        justify-content: space-between;
        font-weight: 600;

        .submitBtn{
            border: none;
            background-color: #61379d;
            color: #fff;
            padding: 10px 25px;
            border-radius: 5px;
        }
        .clearBtn{
            border: none;
            color: #622462;
            background-color: transparent;
            padding: 10px;
        }
    }


}