.inputPictureBlock{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    padding: 25px 15px;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 0px 0px 20px gray;
    gap: 20px;
    color: black;

    .inputLabel {

    }

    > img {
        width: 100%;
        aspect-ratio: 1;

    }
}